@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	color: #0a0807;
	font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
	color: #0a080770;
}

.relative {
	position: relative;
}

.d-flex {
	display: flex;
}

.align-items-center {
	align-items: center;
}

.flex-column {
	flex-direction: column;
}

.g-1 {
	gap: 0.5rem;
}

.g-2 {
	gap: 1rem;
}
